*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    margin-left:5px;
background-color: rgb(245, 241, 241);
}
.menubar{
    width: 100%;
    height: 80px;   
background-color: rgb(89, 182, 216);
}
.menubar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menubar ul li{
     margin-top:30px ;
    list-style-type: none;
}
 .menubar ul li:hover{
    transform: scale(1.6);
 }
.menubar ul li a{
 text-decoration: none;
 color: azure;
 font-size:20px;
}
.menubar ul li a:hover{
    color: rgb(218, 29, 29);
    transition: (1s);
}

.form-group{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.table{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2px;
    border-collapse: collapse;
}
th , td{
    padding: 8px;
    border: 2px solid rgb(31, 113, 221);
    
}
.footer{
    margin-top: 20px;
    background-color: rgb(89, 182, 216);
}
